input[type="text"] {
  padding: 6px 15px;
  border: 1px blue solid;
  border-radius: 4px;
}
.active-link {
  font-weight: bold;
  color: blue;
}

.card-display:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  border-radius: 15px;
}

Button {
  background-color: lightgrey !important;
  border: lightgrey !important ;
  border-radius: 15px !important;
  color: black !important;
  font-weight: bold !important;
}

Button:hover {
  background: lightcoral !important;
  color: white !important;
  transition-duration: all 0.6s;
}

.button-navlink {
  color: black !important;
  font-weight: bold !important;
  text-decoration: none !important;
}

.button-navlink:hover {
  color: white !important;
}
